body {
    background-color: white;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.logo-img {
    width: 30%;
    position: relative;
    margin-left: 140px;
    margin-top: 30px;
    display: block;
}

.mobile-nav{
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.mobile-nav ul li{
    display: inline-block;
    width: 30%;
}


.dropdown {
    position: relative;
    display: none;
    width: 100%;
}
.dropbtn {
    background-color: black;
    color: white;
    height: 17px;
    width: 100%;
    border: none;
}

.dropdown-content {
    display: none;
    text-align: center;
    /* background-color: black; */
    background: linear-gradient(180deg, black 75%, white 100%);
    padding-top: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



main{
    width: 100%;
}
.main-box {
    position: relative;
    width: 100%;
}
.main-img{
    width: 100%;
}

.main-text {
    position: absolute;
    color: green;
    text-align: center;
    margin-bottom: 500px;
}

.head-foot {
    background-color: red;
}

@media screen and (min-width: 768px) {
    header{
        position: fixed;
    }
    .dropdown {
        display: block;
    }

    .mobile-nav {
        display: none;
    }
    .logo-img{
    height: 75px;
    width: 124px;
    top: 0;
    background-color: white;
    padding: 5px;
    position: sticky;
    display: block;
    }
    main{
        margin-left: 134px;
    }
}